
.loading {
    background-color: rgba(255, 255, 255, 0.192);
    position: fixed;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    z-index: 100;
    align-content: center;
    text-align: center;
    margin: 0px;
}