.modal-backdrop {
    background-color: rgba(255, 255, 255, 0.192);
    position: fixed;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    z-index: 100;
    align-content: center;
    justify-items: center;
}

.user-info-modal {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.modal-frame,
.modal {
    background-color: #242424;
    height: 60vh;
    width: 40vw;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.modal-frame {
    
    overflow-y: auto;
}

.modal-button {
    border-radius: 8px;
    height: auto;
}

.modal-actions {
    display: flex;
    gap: 10px;
    margin-top: auto;
}

p {
    margin-top: 0;
}

.create-user-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.content-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.modal-content {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.buttons-div {
    text-align: center;
    display: flex;
    gap: 10px;
    margin-top: auto;
}

h2 {
    width: 15vw;
}

label > input {
    border-radius: 5px;
    height: 2vh;
    width: 15vw;
}
