table,
tr {
    border-collapse: collapse;
}

tr {
    max-height: 70px;
}

tbody>.hover-tr:hover {
    background-color: rgb(123, 123, 123);
    cursor: pointer;
}


table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
}

td>p {
    margin-right: 5px;
}

td,
th {
    padding: 5px;
}

thead {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #d8d7d7;
    border-bottom: solid #828282;
}