table,
tr {
    border-collapse: collapse;
}

tr {
    max-height: 70px;
}

tbody>.hover-tr:hover {
    background-color: rgb(123, 123, 123);
    cursor: pointer;
}


table {
    width: 100%;
    margin: auto;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    overflow: hidden;
}

td>p {
    margin-right: 5px;
}

td,
th {
    padding: 5px;
    text-align: left;
}

thead {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #ffffff;
    border-bottom: solid #000000;
}

