#root {
  width: 100%;
}

button {
  border: none;
  display: flex;
  place-content: center;
  align-items: center;
  align-self: center;
  justify-items: center;
  font-weight: bold;
  color: white;
  border-radius: 8px;
  padding: 5px;
  font-size: 1em;
  font-family: inherit;
  background-color: #00A1DD;
  box-shadow: 0px 1px 3px 0 grey;
  cursor: pointer;
  transition: border-color 0.25s;
  transition: all 0.1s ease-in-out;
}

button:hover {
  box-shadow: 0 1px 4px 2px grey;
}

.site-navigation {
  display: flex;
  flex-direction: column;
  position: static;
  padding: 0.5rem;
  gap: 1rem;
}

.site-navigation>a {
  height: 1.5rem;
  border-radius: 8px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  color: black;
}

.site-navigation>a:hover {
  background-color: rgb(196, 196, 196);
}

button:disabled {
  color: #c9c9c9;
  cursor: not-allowed;
  box-shadow: none;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e0e0e0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  scrollbar-width: thin;
}

header {
  align-items: center;
  max-height: 15vh;
  padding: 5px;
}

button:active {
  transform: translateY(1px);
}