#root {
  width: 100%;
  text-align: center;
}

button {
  border-radius: 8px;
  height: 35px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  box-shadow: 0 4px #2f2f2f;
  transition: all 0.1s ease-in-out;
}

header {
  align-items: center;
  max-height: 15vh;
  padding: 5px;
}

button:active {
  transform: translateY(2px);
  box-shadow: 0 2px #2f2f2f;
}


