#root {
  width: 100%;
  text-align: center;
}

button {
  border-radius: 8px;
  height: 35px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

header {
  align-items: center;
  max-height: 15vh;
  padding: 5px;
}

