#root {
  width: 100%;
}

button {
  font-weight: bold;
  color: #ffffff;
  border-radius: 8px;
  padding: 5px;
  border: 1px solid black;
  font-size: 1em;
  font-family: inherit;
  background-color: #0064d9;
  cursor: pointer;
  transition: border-color 0.25s;
  transition: all 0.1s ease-in-out;
}

button:disabled {
  color: #717171;    
  border: 1px solid black;
  cursor: not-allowed;   
}


::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #e0e0e0;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  scrollbar-width: thin;
}

header {
  align-items: center;
  max-height: 15vh;
  padding: 5px;
}

button:active {
  transform: translateY(1px);
}


